.contenedor {
    width: 60%; 
    max-width: 600px; 
    margin: 100px auto;
    padding: 40px; 
    height: 600px; 
    background-color: rgb(7, 250, 7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor2 {
    width: 60%; 
    max-width: 500px; 
    padding: 60px; 
    height: 500px; 
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.imagen{
   width: 60%;
   height: auto;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /*utilice el tipo de sombra 3, de la pagina https://getcssscan.com/css-box-shadow-examples */
}

.texto-imagen {
    
    font-size: 18px;
    font-weight: 700;
    color: black;
}