.contenedor {
    width: 60%; 
    max-width: 600px; 
    margin: 100px auto;
    padding: 40px; 
    height: 600px; 
    background-color: rgb(7, 250, 7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor2 {
    width: 60%; 
    max-width: 500px; 
    padding: 60px; 
    height: 500px; 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /*utilice el tipo de sombra 3 */
}

.imagen{
   width: 70%;
   height: auto;
   text-align: center;  
}

h1{
    font-family: "Poppins", sans-serif
}

p2{
    font-family: "Poppins", sans-serif;
}

p3{
    font-family: "Poppins", sans-serif;
}

p4{
    font-family: "Poppins", sans-serif; 
}

#p1{
    text-align: left;
    font-size: larger;
}

#p2{
    text-align: left;
    font-size: larger;
}

#p3{
    text-align: left;
    font-size: larger;
}